<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Machine Learning Webapp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Hello_World.com" content="Learning about Web Dev, Golang and Machine Learning.">

	<!-- Fontsheet -->
	<link href="https://fonts.googleapis.com/css?family=Cantarell:400,700|Kotta+One" rel="stylesheet">

	<!-- Style Sheet -->
	<link rel="stylesheet" href="../static/css/css_reset.css">
	<link rel="stylesheet" href="../static/css/main.css">

	<!-- Plotly.js -->
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <!-- Numeric JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script> -->

</head>

<body>

	 <!-- HEADERS AND NAVIGATION -->
	<header>
		<div>
			<h4>Data Science Web App with Python & Golang</h1>
		</div>
		<nav>
			<a href="/">
				<h1>HOME</h1>
			</a>
		</nav>
		<div></div>
	</header>
	 <!-- END HEADERS AND NAVIGATION -->

	<section id="title">
		<h1>Iris Model - Example</h1>
	</section>

	<section class="model__form__input">
		<h2 class="section__title">Train Classification Model (Support Vector Machine)</h2>

		<!-- FORM INPUT PORTION -->
		<form class="training_form" action="/train" method="POST" enctype="multipart/form">

			<section class="model__parameter" id="training">
				<h3>Set Parameter for Model Training<h3>
				<p class="placeholder">C Parameter</p>
				<div class="cursor">
					<input class="input_textbox" type="text" name="C_Parameter" placeholder="">
					<i></i>
				</div>
			</section>

			<input type="submit" value="Train model">
		</form>
	</section>

	<!-- DISPLAY TRAINING ACCURACY WITH RESULT -->
	{{if .}}
		<section class="result__training">
			<h2> Training Accuracy</h2>
			<div class="result"> {{.}} </div>
			<div class="label_result"> % accuracy </div>
		</section>
	{{end}}

	<section class="model__form__input" id="prediction">
	<h2 class="section__title"> Predict Iris Classes </h2>

	<!-- FORM INPUT PORTION -->
	<form class="training_form" action="/predict" method="POST" enctype="multipart/form">

		<section class="model__parameter">
			<h3>Define Iris<h3>

				<p class="placeholder" id="sepal_length">Sepal Length</p>
				<div class="cursor">
					<input class="input_textbox" type="text" name="sepal_length" placeholder="">
				</div>

				<p class="placeholder" id="sepal_width">Sepal Width</p>
				<div class="cursor">
					<input class="input_textbox" type="text" name="sepal_width" placeholder="">
				</div>

				<p class="placeholder" id="petal_length">Petal Length</p>
				<div class="cursor">
					<input class="input_textbox" type="text" name="petal_length" placeholder="">
				</div>

				<p class="placeholder" id="petal_width">Petal Width</p>
				<div class="cursor">
					<input class="input_textbox" type="text" name="petal_width" placeholder="">
				</div>
		</section>

		<input type="submit" value="Predict Iris">
	</form>
</section>

	<!-- App JS -->
	<!-- <script src="../static/js/app.js"></script> -->

</body>
</html>

<!-- https://freefrontend.com/css-input-text/ -->
<!-- https://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit -->
<!-- https://www.formget.com/javascript-onsubmit/ -->

<!-- https://stackoverflow.com/questions/21617060/content-disappears-immediately-after-form-submitted-and-function-runs -->
